@model ParseViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form enctype="multipart/form-data" asp-controller="Parse" asp-action="Index" method="post">
                <div class="form-group">
                    <label asp-for="DbName"></label>
                    <input class="form-control" type="text" asp-for="DbName" />
                    <span asp-validation-for="DbName"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="File"></label>
                    <input type="file" asp-for="File" />
                    <span asp-validation-for="File"></span>
                </div>
                <br />

                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.IsFirstRowTitle) Is first row title
                </div>
                <br />

                @foreach (var separatorType in Model.SeparatorTypes)
                {
                    <div class="custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.Separator, separatorType) @separatorType
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Parse" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Имя столбца</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TableTitle != null && Model.TableTitle.Count > 0)
                        {
                            foreach (var title in Model.TableTitle)
                            {
                                <tr>
                                    <td>@title</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            @if (Model.TableTitle != null && Model.TableTitle.Count > 0)
                            {
                                foreach (var title in Model.TableTitle)
                                {
                                    <th>@title</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TableData != null && Model.TableData.Count > 0)
                        {
                            foreach (var row in Model.TableData)
                            {
                                <tr>
                                    @foreach (var dataItem in row.RowData)
                                    {
                                        <td>@dataItem</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>